# Python cache files
__pycache__/
*.pyc
*.pyo

# Log files
*.log

# Generated Speech output
Speech/output.mp3

Speech/__pycache__/__init__.cpython-311.pyc
Speech/__pycache__/pickAndPlaceVoiceDetection.cpython-311.pyc
Speech/__pycache__/pickAndPlaceVoiceDetection.cpython-311.pyc
Speech/__pycache__/pickAndPlaceVoiceDetection.cpython-311.pyc
