
Speech/__pycache__/__init__.cpython-311.pyc
Speech/__pycache__/pickAndPlaceVoiceDetection.cpython-311.pyc
Speech/__pycache__/pickAndPlaceVoiceDetection.cpython-311.pyc
Speech/__pycache__/pickAndPlaceVoiceDetection.cpython-311.pyc
.vscode/settings.json
