<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="FinleyJNEWARMS_2024_2">
  <link
    name="chest">
    <inertial>
      <origin
        xyz="1.50022370298638E-06 -0.0567961915923432 0.766213151862861"
        rpy="0 0 0" />
      <mass
        value="0.602613953999794" />
      <inertia
        ixx="0.000529918720669357"
        ixy="-3.76128346060374E-08"
        ixz="-1.47322618993065E-08"
        iyy="0.00080833449975312"
        iyz="2.57802169605766E-05"
        izz="0.000957595777033828" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/chest.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/chest.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder1_left">
    <inertial>
      <origin
        xyz="0.0113764183101848 2.55351295663786E-15 -0.0114631689738596"
        rpy="0 0 0" />
      <mass
        value="0.0104989821167457" />
      <inertia
        ixx="6.19340879843905E-06"
        ixy="2.98773898934065E-21"
        ixz="1.06020563594117E-07"
        iyy="6.88183260609746E-06"
        iyz="3.83837023690903E-20"
        izz="2.10368331977384E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/shoulder1_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/shoulder1_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder1_left"
    type="revolute">
    <origin
      xyz="0.0919 -0.076 0.76741"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="shoulder1_left" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="shoulder2_left">
    <inertial>
      <origin
        xyz="0.000992089169820423 0.000201280360909384 0.0717688932927326"
        rpy="0 0 0" />
      <mass
        value="0.26625037845905" />
      <inertia
        ixx="0.00012008136552534"
        ixy="5.28029481931781E-11"
        ixz="-1.07276812830325E-06"
        iyy="0.000120725556791717"
        iyz="-1.08491343097309E-06"
        izz="7.76746664504174E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/shoulder2_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/shoulder2_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder2_left"
    type="revolute">
    <origin
      xyz="0.0252 0 -0.01"
      rpy="0 1.5708 0" />
    <parent
      link="shoulder1_left" />
    <child
      link="shoulder2_left" />
    <axis
      xyz="1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="elbow_left">
    <inertial>
      <origin
        xyz="-0.000113596663294913 -0.0560536247002576 0.000533260431343455"
        rpy="0 0 0" />
      <mass
        value="0.082660113367834" />
      <inertia
        ixx="2.29401639573524E-05"
        ixy="-1.53754694876339E-09"
        ixz="6.97719276898478E-09"
        iyy="2.23632226277631E-05"
        iyz="-1.86826223854894E-07"
        izz="2.00500296625908E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/elbow_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/elbow_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_left"
    type="revolute">
    <origin
      xyz="0.0012292 0.0025 0.1428"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="shoulder2_left" />
    <child
      link="elbow_left" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="forearm_left">
    <inertial>
      <origin
        xyz="-0.0217322025023179 -0.00299999052283595 0.000711058364020231"
        rpy="0 0 0" />
      <mass
        value="0.0775832833087507" />
      <inertia
        ixx="1.41357225954703E-05"
        ixy="-1.57510749838804E-07"
        ixz="2.04374486996414E-07"
        iyy="1.85114250117788E-05"
        iyz="-3.77076381320234E-08"
        izz="2.32612968414306E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/forearm_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/forearm_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="forearm_left"
    type="revolute">
    <origin
      xyz="0 -0.079704 0.013413"
      rpy="-3.1416 0.032693 1.5708" />
    <parent
      link="elbow_left" />
    <child
      link="forearm_left" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="wrist_left">
    <inertial>
      <origin
        xyz="0.00156561649059228 -0.000607186406239746 -0.0779539719750207"
        rpy="0 0 0" />
      <mass
        value="0.0990469295134182" />
      <inertia
        ixx="2.88672320913374E-05"
        ixy="6.46674521148201E-08"
        ixz="7.22025582845145E-07"
        iyy="3.22338312374417E-05"
        iyz="-2.38931789143954E-06"
        izz="1.6669707900694E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/wrist_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/wrist_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_left"
    type="revolute">
    <origin
      xyz="-0.04367 -0.0037098 0.00076105"
      rpy="-1.5854 0.0070899 -1.5709" />
    <parent
      link="forearm_left" />
    <child
      link="wrist_left" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hand_left">
    <inertial>
      <origin
        xyz="0.000232111766851228 -0.0295400101819632 -0.000552363315965157"
        rpy="0 0 0" />
      <mass
        value="0.0401316907730666" />
      <inertia
        ixx="2.245265564781E-05"
        ixy="4.7674707832813E-07"
        ixz="-2.00585349730938E-07"
        iyy="1.11900146947492E-05"
        iyz="2.66073296726841E-06"
        izz="2.96366339435448E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hand_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hand_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hand_left"
    type="revolute">
    <origin
      xyz="0.00080115 0.0011731 -0.10753"
      rpy="1.6086 -0.017309 -0.0077456" />
    <parent
      link="wrist_left" />
    <child
      link="hand_left" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="neck">
    <inertial>
      <origin
        xyz="0.0117160629284851 -9.99659110325225E-05 0.00857698604323989"
        rpy="0 0 0" />
      <mass
        value="0.0666495862419187" />
      <inertia
        ixx="1.31385303651949E-05"
        ixy="-9.42034031040368E-08"
        ixz="3.43718662493433E-06"
        iyy="1.30618283063047E-05"
        iyz="-1.45136637478374E-07"
        izz="1.27391917021066E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="neck"
    type="revolute">
    <origin
      xyz="0 -0.0578 0.81801"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="chest" />
    <child
      link="neck" />
    <axis
      xyz="1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="-0.0014345439017651 0.0137499699227313 0.0522993534665285"
        rpy="0 0 0" />
      <mass
        value="0.231387817637027" />
      <inertia
        ixx="0.000727113508599908"
        ixy="-1.03229269810804E-07"
        ixz="1.33664153992939E-06"
        iyy="0.000829928886524854"
        iyz="0.000249229779965263"
        izz="0.000804365373699676" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 1 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head"
    type="revolute">
    <origin
      xyz="0.0205 0 0"
      rpy="0 0.045546 -1.5708" />
    <parent
      link="neck" />
    <child
      link="head" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="camera">
    <inertial>
      <origin
        xyz="-3.12119803507829E-05 -0.00763461530897247 -0.00500216431534817"
        rpy="0 0 0" />
      <mass
        value="0.0191124622041463" />
      <inertia
        ixx="1.55220812847933E-06"
        ixy="-4.56179374054497E-07"
        ixz="-1.42549427396689E-08"
        iyy="1.49528399074281E-05"
        iyz="-5.1654578498052E-09"
        izz="1.37717600386174E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/camera.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera"
    type="fixed">
    <origin
      xyz="-0.0012989 0.028583 0.12424"
      rpy="0.83696 0.025136 3.1189" />
    <parent
      link="head" />
    <child
      link="camera" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder1_right">
    <inertial>
      <origin
        xyz="0.00782358336580476 0.0140000000000133 -0.00146316897385344"
        rpy="0 0 0" />
      <mass
        value="0.0104989821167456" />
      <inertia
        ixx="6.19340879843903E-06"
        ixy="-1.67840678937269E-22"
        ixz="-1.06020563594098E-07"
        iyy="6.88183260609743E-06"
        iyz="-4.18666999111389E-22"
        izz="2.10368331977384E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/shoulder1_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/shoulder1_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder1_right"
    type="revolute">
    <origin
      xyz="-0.1111 -0.066 0.75341"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="shoulder1_right" />
    <axis
      xyz="0 1 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="shoulder2_right">
    <inertial>
      <origin
        xyz="-0.0413900860591924 -0.0147920891678454 -0.0137987196382686"
        rpy="0 0 0" />
      <mass
        value="0.266250378497971" />
      <inertia
        ixx="7.76746667358538E-05"
        ixy="-1.07276812483748E-06"
        ixz="1.08491342403756E-06"
        iyy="0.00012008136553807"
        iyz="-5.28037994677828E-11"
        izz="0.000120725557080084" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/shoulder2_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/shoulder2_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder2_right"
    type="revolute">
    <origin
      xyz="-0.036379 0 0.0138"
      rpy="1.5708 0 0" />
    <parent
      link="shoulder1_right" />
    <child
      link="shoulder2_right" />
    <axis
      xyz="0 0 1" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="elbow_right">
    <inertial>
      <origin
        xyz="0.0116135966669895 0.0194588983314362 0.00129928150451237"
        rpy="0 0 0" />
      <mass
        value="0.0826601133515505" />
      <inertia
        ixx="2.29401639533183E-05"
        ixy="1.76479861879254E-09"
        ixz="6.92321100118671E-09"
        iyy="2.23729582875121E-05"
        iyz="1.10854731501213E-07"
        izz="2.00402939877248E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/elbow_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/elbow_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_right"
    type="revolute">
    <origin
      xyz="-0.18788 -0.012561 0"
      rpy="1.6035 1.5708 0" />
    <parent
      link="shoulder2_right" />
    <child
      link="elbow_right" />
    <axis
      xyz="1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="forearm_right">
    <inertial>
      <origin
        xyz="0.0145027814006548 0.035367797503198 -0.000342095184619161"
        rpy="0 0 0" />
      <mass
        value="0.0775832832500245" />
      <inertia
        ixx="1.85111290788103E-05"
        ixy="1.56057384083975E-07"
        ixz="4.01865484436665E-09"
        iyy="1.4135722585926E-05"
        iyz="2.05486410831663E-07"
        izz="2.32615927511384E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/forearm_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/forearm_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="forearm_right"
    type="revolute">
    <origin
      xyz="0 -0.0617 -0.009644"
      rpy="0 0.007092 0" />
    <parent
      link="elbow_right" />
    <child
      link="forearm_right" />
    <axis
      xyz="0.99997 0 0.007092" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="wrist_right">
    <inertial>
      <origin
        xyz="-5.6063520893837E-05 0.0530277504350653 -0.0158643975908436"
        rpy="0 0 0" />
      <mass
        value="0.0990469293943152" />
      <inertia
        ixx="3.2261283044491E-05"
        ixy="2.29870642975518E-06"
        ixz="-2.07710716738914E-08"
        iyy="1.66209611114322E-05"
        iyz="5.10939447275448E-07"
        izz="2.88885270120892E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/wrist_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/wrist_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_right"
    type="revolute">
    <origin
      xyz="0 -0.011772 0.00032413"
      rpy="1.5534 1.5503 -1.571" />
    <parent
      link="forearm_right" />
    <child
      link="wrist_right" />
    <axis
      xyz="0.0070945 -0.017304 0.99983" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hand_right">
    <inertial>
      <origin
        xyz="0.00185086833685941 0.0115893616160188 -0.0165468410480409"
        rpy="0 0 0" />
      <mass
        value="0.0401316907730667" />
      <inertia
        ixx="2.98331064496576E-05"
        ixy="1.8484168805577E-06"
        ixz="-1.79642098291782E-07"
        iyy="1.09935421886364E-05"
        iyz="4.85026778376593E-07"
        izz="2.245265564781E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hand_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hand_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hand_right"
    type="revolute">
    <origin
      xyz="0.0020123 0.10047 0.0017246"
      rpy="0 0.0078497 0" />
    <parent
      link="wrist_right" />
    <child
      link="hand_right" />
    <axis
      xyz="0.00075399 0.017304 -0.99985" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="back">
    <inertial>
      <origin
        xyz="-1.44140733175918E-06 0.0143265162485028 0.0226653926994822"
        rpy="0 0 0" />
      <mass
        value="0.0646141406188935" />
      <inertia
        ixx="1.526153314674E-05"
        ixy="1.32400043523145E-09"
        ixz="-1.76178089424598E-10"
        iyy="1.39416031460188E-05"
        iyz="1.78050081913823E-07"
        izz="8.1482600757026E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/back.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/back.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back"
    type="revolute">
    <origin
      xyz="0 -0.03923 0.68471"
      rpy="0 0 0" />
    <parent
      link="chest" />
    <child
      link="back" />
    <axis
      xyz="0 0 1" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="middle">
    <inertial>
      <origin
        xyz="-0.0239047386666883 -0.0109096628668793 -0.0106406365540337"
        rpy="0 0 0" />
      <mass
        value="0.0836698843876746" />
      <inertia
        ixx="3.2251489506707E-05"
        ixy="-1.20880861435307E-09"
        ixz="1.188870977928E-06"
        iyy="2.64401728266757E-05"
        iyz="2.16278568293568E-07"
        izz="1.88172213872678E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/middle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/middle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle"
    type="revolute">
    <origin
      xyz="0.01 0 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="back" />
    <child
      link="middle" />
    <axis
      xyz="0 0 1" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="stomach">
    <inertial>
      <origin
        xyz="-6.90645949545177E-07 0.0285352148218206 0.00558150587458452"
        rpy="0 0 0" />
      <mass
        value="0.112924087976866" />
      <inertia
        ixx="9.75030160609476E-05"
        ixy="1.3724062620748E-09"
        ixz="1.45587021297948E-10"
        iyy="9.65112799340216E-05"
        iyz="-5.46427707290203E-07"
        izz="3.79806864620942E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/stomach.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/stomach.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="stomach"
    type="revolute">
    <origin
      xyz="-0.0381 -0.0089 0.0298"
      rpy="1.5708 0 1.5708" />
    <parent
      link="middle" />
    <child
      link="stomach" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="back_pelvic">
    <inertial>
      <origin
        xyz="0.0154896651075286 -0.0145430436326565 -1.25876576432225E-08"
        rpy="0 0 0" />
      <mass
        value="0.127534330381722" />
      <inertia
        ixx="3.31939186116702E-05"
        ixy="-1.08642355068807E-06"
        ixz="1.1348581851421E-11"
        iyy="4.49529966097456E-05"
        iyz="-6.332294893723E-11"
        izz="5.31790636342607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/back_pelvic.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/back_pelvic.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_pelvic"
    type="revolute">
    <origin
      xyz="0 0.060209 0.0485"
      rpy="1.5708 0 1.5708" />
    <parent
      link="stomach" />
    <child
      link="back_pelvic" />
    <axis
      xyz="0 0 -1" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="front_pelvic">
    <inertial>
      <origin
        xyz="0.00111305194379988 0.0273168638391431 0.0143303045364885"
        rpy="0 0 0" />
      <mass
        value="0.147883657209308" />
      <inertia
        ixx="5.0533080357584E-05"
        ixy="1.084531139866E-06"
        ixz="-6.28029200679831E-10"
        iyy="4.6202428629055E-05"
        iyz="-1.41120583024391E-06"
        izz="6.8423130116711E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/front_pelvic.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/front_pelvic.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_pelvic"
    type="revolute">
    <origin
      xyz="0.049529 -0.0405 -0.0009"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="back_pelvic" />
    <child
      link="front_pelvic" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_in_left">
    <inertial>
      <origin
        xyz="-0.00338790020290042 0.0151122704612593 0.000418435668123218"
        rpy="0 0 0" />
      <mass
        value="0.0712276181530185" />
      <inertia
        ixx="2.0686053297834E-05"
        ixy="-2.21932056144579E-08"
        ixz="1.07254742552381E-06"
        iyy="1.62453359449951E-05"
        iyz="1.87073928411388E-07"
        izz="1.37712552460255E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_in_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_in_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_in_left"
    type="revolute">
    <origin
      xyz="0.018 -0.05515 -0.015"
      rpy="1.5708 0 3.1416" />
    <parent
      link="front_pelvic" />
    <child
      link="hip_in_left" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_out_left">
    <inertial>
      <origin
        xyz="-1.54947742438127E-06 0.0156156142998046 4.19915550457367E-05"
        rpy="0 0 0" />
      <mass
        value="0.0601134488170815" />
      <inertia
        ixx="1.42260371232742E-05"
        ixy="1.32392199530798E-09"
        ixz="-1.76529610850598E-10"
        iyy="1.22317140610209E-05"
        iyz="2.1633657525285E-07"
        izz="7.31878051660177E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_out_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_out_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_out_left"
    type="revolute">
    <origin
      xyz="-0.048999 0.0079 0.0235"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="hip_in_left" />
    <child
      link="hip_out_left" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_left">
    <inertial>
      <origin
        xyz="0.0150664251061031 0.00245230067620275 -0.0407736894433857"
        rpy="0 0 0" />
      <mass
        value="0.17335861386952" />
      <inertia
        ixx="0.000198570149984391"
        ixy="-3.18164378562123E-06"
        ixz="5.45026934443229E-06"
        iyy="0.000197700892896828"
        iyz="2.18629769465765E-05"
        izz="9.77083721893493E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_left"
    type="revolute">
    <origin
      xyz="0 0.0336 -0.0128"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="hip_out_left" />
    <child
      link="hip_left" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="knee_left">
    <inertial>
      <origin
        xyz="0.0603311428031292 -0.0142353251463271 0.00312070473680792"
        rpy="0 0 0" />
      <mass
        value="0.193749081599854" />
      <inertia
        ixx="9.08156841088827E-05"
        ixy="-1.27137103544211E-06"
        ixz="2.13501668472765E-05"
        iyy="0.000463254873932545"
        iyz="2.59491652798349E-09"
        izz="0.000467423944586263" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/knee_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/knee_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_left"
    type="revolute">
    <origin
      xyz="0.0064248 0.01014 -0.17899"
      rpy="3.1416 1.5523 0" />
    <parent
      link="hip_left" />
    <child
      link="knee_left" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="foot_knee">
    <inertial>
      <origin
        xyz="0.000345175114063984 0.0309927735422075 0.00299676811418949"
        rpy="0 0 0" />
      <mass
        value="0.109810870294916" />
      <inertia
        ixx="9.45019011451508E-05"
        ixy="3.77288225745536E-07"
        ixz="-2.41881259681942E-06"
        iyy="9.87830065080302E-05"
        iyz="6.6132698852135E-06"
        izz="3.61463589212814E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/foot_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/foot_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="foot_knee"
    type="revolute">
    <origin
      xyz="0.30077 -0.014162 0.010907"
      rpy="-0.01851 0 1.5708" />
    <parent
      link="knee_left" />
    <child
      link="foot_knee" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_in_right">
    <inertial>
      <origin
        xyz="0.00338528370999521 0.0151122806019598 0.000418434244020105"
        rpy="0 0 0" />
      <mass
        value="0.0712276196983516" />
      <inertia
        ixx="2.06860516551846E-05"
        ixy="2.4836866779806E-08"
        ixz="-1.07290126202721E-06"
        iyy="1.62453328902795E-05"
        iyz="1.87065665381643E-07"
        izz="1.3771254171392E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_in_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_in_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_in_right"
    type="revolute">
    <origin
      xyz="-0.018 -0.05515 -0.015"
      rpy="1.5708 0 3.1416" />
    <parent
      link="front_pelvic" />
    <child
      link="hip_in_right" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_out_right">
    <inertial>
      <origin
        xyz="-1.54948125710708E-06 0.0156156143074745 4.19920529177789E-05"
        rpy="0 0 0" />
      <mass
        value="0.0601134487595185" />
      <inertia
        ixx="1.42260371129568E-05"
        ixy="1.32391270503669E-09"
        ixz="-1.76535344711478E-10"
        iyy="1.22317140493408E-05"
        iyz="2.1633658089755E-07"
        izz="7.31878050692019E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_out_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_out_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_out_right"
    type="revolute">
    <origin
      xyz="0.048999 0.0079 0.0235"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="hip_in_right" />
    <child
      link="hip_out_right" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_right">
    <inertial>
      <origin
        xyz="-0.0180050815246148 -0.0163714794312621 -0.0175287298959461"
        rpy="0 0 0" />
      <mass
        value="0.169857212744491" />
      <inertia
        ixx="0.000188110643055154"
        ixy="3.85860328371816E-06"
        ixz="1.15765504396832E-05"
        iyy="0.000183631973380987"
        iyz="-2.08623507381006E-05"
        izz="9.36669619977514E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/hip_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_right"
    type="revolute">
    <origin
      xyz="-0.0142 0.0546 0.021079"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="hip_out_right" />
    <child
      link="hip_right" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="knee_right">
    <inertial>
      <origin
        xyz="0.0603311450098239 -0.0142651763856447 -0.00312072976344577"
        rpy="0 0 0" />
      <mass
        value="0.193749133780541" />
      <inertia
        ixx="9.08157255280494E-05"
        ixy="-8.98394387421212E-07"
        ixz="-2.13502647211712E-05"
        iyy="0.000463255146494585"
        iyz="2.61054405886981E-09"
        izz="0.00046742416987416" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/knee_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/knee_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_right"
    type="revolute">
    <origin
      xyz="-0.027454 -0.02434 -0.15799"
      rpy="0 1.5523 0" />
    <parent
      link="hip_right" />
    <child
      link="knee_right" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="foot_right">
    <inertial>
      <origin
        xyz="-0.00888972523658815 0.0154484217108631 -0.0168029056052862"
        rpy="0 0 0" />
      <mass
        value="0.109790139215789" />
      <inertia
        ixx="3.61479589766011E-05"
        ixy="2.41990150748341E-06"
        ixz="-6.61282130735259E-06"
        iyy="9.45217369616065E-05"
        iyz="3.78800609180034E-07"
        izz="9.8796989754065E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/foot_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinleyJNEWARMS_2024_2/meshes/foot_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="foot_right"
    type="revolute">
    <origin
      xyz="0.25309 -0.029938 -0.0041228"
      rpy="0 -1.5523 0" />
    <parent
      link="knee_right" />
    <child
      link="foot_right" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
</robot>