<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="FullAssemFIN15">
  <link
    name="chest">
    <inertial>
      <origin
        xyz="0.00333118253031414 -0.0155618567951945 0.271801575316681"
        rpy="0 0 0" />
      <mass
        value="0.419117350386115" />
      <inertia
        ixx="0.000473786698061691"
        ixy="-8.97069623346506E-07"
        ixz="-4.21628791061141E-06"
        iyy="0.00076785486137848"
        iyz="2.12572621696726E-05"
        izz="0.000895196972888639" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/chest.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/chest.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="neck">
    <inertial>
      <origin
        xyz="0.020931511541962 -0.0348550317521821 0.012786023220724"
        rpy="0 0 0" />
      <mass
        value="0.0666067428276519" />
      <inertia
        ixx="1.50370817123016E-05"
        ixy="-8.66548417653992E-08"
        ixz="1.1712415089891E-09"
        iyy="1.42674127171428E-05"
        iyz="5.76048272071785E-08"
        izz="9.60576206552038E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="neck_turn"
    type="revolute">
    <origin
      xyz="0.0037758 -0.018817 0.34931"
      rpy="1.5708 0.0097511 -3.1359" />
    <parent
      link="chest" />
    <child
      link="neck" />
    <axis
      xyz="-0.0015815 0.99926 -0.038308" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="0.00122666072118455 0.0425138263667263 -0.0424115694567081"
        rpy="0 0 0" />
      <mass
        value="0.285399764673854" />
      <inertia
        ixx="0.000749236659829662"
        ixy="-9.67479244625837E-07"
        ixz="8.9150084811615E-07"
        iyy="0.00111567435375088"
        iyz="-2.79770663570002E-05"
        izz="0.000641043581855502" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 1 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head"
    type="revolute">
    <origin
      xyz="0.020803 0 0"
      rpy="0 0 0" />
    <parent
      link="neck" />
    <child
      link="head" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="Camera">
    <inertial>
      <origin
        xyz="-0.000289527550498533 -0.00819917788247479 -0.0049631615393359"
        rpy="0 0 0" />
      <mass
        value="0.0191124678007456" />
      <inertia
        ixx="1.53669857880473E-06"
        ixy="-1.97213230160209E-09"
        ixz="-1.44250254395816E-08"
        iyy="1.4968354918678E-05"
        iyz="-4.67959610400432E-09"
        izz="1.37717646469347E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/Camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/Camera.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Camera"
    type="fixed">
    <origin
      xyz="0.00129702055956225 0.101533990866758 -0.0770080285181508"
      rpy="-1.60490199320971 0 0" />
    <parent
      link="head" />
    <child
      link="Camera" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_shoulder1">
    <inertial>
      <origin
        xyz="0.0158592794529138 -0.0108921829104992 -9.24216525532984E-09"
        rpy="0 0 0" />
      <mass
        value="0.133882144635927" />
      <inertia
        ixx="3.36663118708798E-05"
        ixy="-9.78893359843573E-07"
        ixz="3.1161766555775E-12"
        iyy="4.8139449805534E-05"
        iyz="-6.36580383367442E-11"
        izz="5.86071368245764E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_shoulder1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_shoulder1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_twist"
    type="revolute">
    <origin
      xyz="-0.096814 -0.0048096 0.27768"
      rpy="-3.1318 0.034102 -1.5646" />
    <parent
      link="chest" />
    <child
      link="right_shoulder1" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="right_shoulder2">
    <inertial>
      <origin
        xyz="-0.0182525257516556 0.0204128765319722 -8.59425158816762E-09"
        rpy="0 0 0" />
      <mass
        value="0.140671761320956" />
      <inertia
        ixx="4.07168146145147E-05"
        ixy="-1.12442978550689E-06"
        ixz="3.07762788788979E-12"
        iyy="4.61370432072614E-05"
        iyz="-6.36996092664974E-11"
        izz="5.71678892887876E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_shoulder2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_shoulder2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_raise"
    type="revolute">
    <origin
      xyz="0 0.0367 0"
      rpy="0 -0.0015805 -1.5708" />
    <parent
      link="right_shoulder1" />
    <child
      link="right_shoulder2" />
    <axis
      xyz="0 1 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="right_arm">
    <inertial>
      <origin
        xyz="-1.30398572895617E-06 -0.0251862416177237 0.0139806191289127"
        rpy="0 0 0" />
      <mass
        value="0.0821137195067691" />
      <inertia
        ixx="4.24988469778399E-05"
        ixy="1.28594594988095E-09"
        ixz="1.42764661881412E-10"
        iyy="2.66700233849999E-05"
        iyz="1.73025413027656E-06"
        izz="3.61228420432194E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_twist"
    type="revolute">
    <origin
      xyz="-0.046932 0.019779 0"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="right_shoulder2" />
    <child
      link="right_arm" />
    <axis
      xyz="0 1 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="right_elbow">
    <inertial>
      <origin
        xyz="0.026144273606504 -0.0138386404390344 7.4579859453805E-05"
        rpy="0 0 0" />
      <mass
        value="0.145005613316011" />
      <inertia
        ixx="4.17435139165805E-05"
        ixy="-1.10461810235699E-06"
        ixz="2.4697597072441E-08"
        iyy="6.52871821751329E-05"
        iyz="-3.6769392434268E-08"
        izz="7.69713019032534E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow"
    type="revolute">
    <origin
      xyz="0.0142 -0.079464 0.012929"
      rpy="0 0 -1.5708" />
    <parent
      link="right_arm" />
    <child
      link="right_elbow" />
    <axis
      xyz="0 -1 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="right_wrist">
    <inertial>
      <origin
        xyz="6.53806939694343E-06 0.0283926492423341 -0.00361097302106334"
        rpy="0 0 0" />
      <mass
        value="0.085391866590059" />
      <inertia
        ixx="2.19149928316944E-05"
        ixy="-2.84159821929934E-08"
        ixz="-3.84686709943462E-09"
        iyy="1.77285998475411E-05"
        iyz="1.71775892566205E-07"
        izz="1.43507074650994E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist"
    type="revolute">
    <origin
      xyz="0.12738 -0.0138 -0.002"
      rpy="0 0 -1.5708" />
    <parent
      link="right_elbow" />
    <child
      link="right_wrist" />
    <axis
      xyz="0 1 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="right_hand">
    <inertial>
      <origin
        xyz="-0.0357874965772623 0.00954999553927405 0.0160801916295549"
        rpy="0 0 0" />
      <mass
        value="0.101380755551369" />
      <inertia
        ixx="7.74756018612888E-05"
        ixy="3.33639078442282E-08"
        ixz="9.18217371445797E-06"
        iyy="7.36579925343485E-05"
        iyz="-1.98235761204158E-07"
        izz="1.70516479537087E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_hand.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/right_hand.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand"
    type="revolute">
    <origin
      xyz="-0.018514 0.14131 -0.0023279"
      rpy="-1.5714 0.0041657 2.9929" />
    <parent
      link="right_wrist" />
    <child
      link="right_hand" />
    <axis
      xyz="0 -1 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="left_shoulder1">
    <inertial>
      <origin
        xyz="0.0096764166341974 0.000826788278429191 -0.0114333137832289"
        rpy="0 0 0" />
      <mass
        value="0.0104989821167456" />
      <inertia
        ixx="6.19340879843903E-06"
        ixy="-7.64679989034402E-09"
        ixz="1.05744438890409E-07"
        iyy="6.85697616496023E-06"
        iyz="3.43729463116357E-07"
        izz="2.12853976091103E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_shoulder1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_shoulder1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_twist"
    type="revolute">
    <origin
      xyz="0.077364 -0.034143 0.27834"
      rpy="1.5707 -0.009759 0.0059046" />
    <parent
      link="chest" />
    <child
      link="left_shoulder1" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="left_shoulder2">
    <inertial>
      <origin
        xyz="0.000862733887448633 -0.000294491085272519 -0.0182210991720152"
        rpy="0 0 0" />
      <mass
        value="0.140671761076457" />
      <inertia
        ixx="4.61398860482142E-05"
        ixy="-9.03765924200024E-09"
        ixz="-1.11755886503867E-06"
        iyy="5.71640874001582E-05"
        iyz="-2.49888292271969E-07"
        izz="4.07177732766669E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_shoulder2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_shoulder2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_raise"
    type="revolute">
    <origin
      xyz="0.023528 0.00079477 -0.010776"
      rpy="1.543 -1.4993 -1.5528" />
    <parent
      link="left_shoulder1" />
    <child
      link="left_shoulder2" />
    <axis
      xyz="-1 0.00071125 -0.0012765" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="left_arm">
    <inertial>
      <origin
        xyz="0.0656734571120541 0.0133327627524941 0.000714976783302314"
        rpy="0 0 0" />
      <mass
        value="0.205497013543678" />
      <inertia
        ixx="5.8232693431784E-05"
        ixy="-1.69244569751663E-06"
        ixz="-1.14176865431451E-06"
        iyy="8.78443221523151E-05"
        iyz="1.15577131125357E-07"
        izz="8.44489072241219E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_twist"
    type="revolute">
    <origin
      xyz="0.00026682 -0.00075346 -0.048366"
      rpy="-1.5592 1.5555 -1.4879" />
    <parent
      link="left_shoulder2" />
    <child
      link="left_arm" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="left_elbow">
    <inertial>
      <origin
        xyz="0.000138697981380153 -0.00286469412665818 0.0975897355571071"
        rpy="0 0 0" />
      <mass
        value="0.0817358599952458" />
      <inertia
        ixx="3.75670777765407E-05"
        ixy="3.65651971726971E-08"
        ixz="2.16028288348673E-08"
        iyy="3.25681302335996E-05"
        iyz="-3.6026404672472E-08"
        izz="2.24090764366932E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow"
    type="revolute">
    <origin
      xyz="0.10838 0.012907 0.00085871"
      rpy="1.5555 1.5368 1.5708" />
    <parent
      link="left_arm" />
    <child
      link="left_elbow" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="left_wrist">
    <inertial>
      <origin
        xyz="-0.0256771319669898 -0.00050090691179927 4.28835934021439E-05"
        rpy="0 0 0" />
      <mass
        value="0.0252784174888945" />
      <inertia
        ixx="5.49688579726409E-06"
        ixy="-4.35202840406216E-08"
        ixz="3.12427003508958E-08"
        iyy="7.03294191630459E-06"
        iyz="2.60624657608613E-08"
        izz="7.68794085320864E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist"
    type="revolute">
    <origin
      xyz="1.9415E-05 0.0088059 0.13025"
      rpy="1.6049 1.5555 1.5708" />
    <parent
      link="left_elbow" />
    <child
      link="left_wrist" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="left_hand">
    <inertial>
      <origin
        xyz="-0.000888501700770705 -0.0179728616933882 0.0353233635256233"
        rpy="0 0 0" />
      <mass
        value="0.041267310421405" />
      <inertia
        ixx="6.14262787974239E-05"
        ixy="-4.9478223060206E-09"
        ixz="1.47062086189532E-08"
        iyy="5.29930630553403E-05"
        iyz="2.27724857094238E-05"
        izz="1.99893702802284E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_hand.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/left_hand.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hand"
    type="revolute">
    <origin
      xyz="-0.078489 -0.0002665 0.014514"
      rpy="1.0976 -0.029908 -1.5708" />
    <parent
      link="left_wrist" />
    <child
      link="left_hand" />
    <axis
      xyz="-1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="chest_back">
    <inertial>
      <origin
        xyz="-1.44142668094191E-06 0.0143265161934237 0.000165392663093428"
        rpy="0 0 0" />
      <mass
        value="0.0646141411167268" />
      <inertia
        ixx="1.5261533210725E-05"
        ixy="1.32397163957281E-09"
        ixz="-1.76173736858142E-10"
        iyy="1.39416032339947E-05"
        iyz="1.78050056213837E-07"
        izz="8.14826009299004E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/chest_back.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/chest_back.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="chest_back"
    type="revolute">
    <origin
      xyz="-0.015626 0.0041101 0.21852"
      rpy="0.034104 0.010452 0.0065942" />
    <parent
      link="chest" />
    <child
      link="chest_back" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="chest_front">
    <inertial>
      <origin
        xyz="0.00123966479781725 0.0149095923475907 -0.0119247919668308"
        rpy="0 0 0" />
      <mass
        value="0.0836698829483879" />
      <inertia
        ixx="3.23260066842026E-05"
        ixy="1.21635779780879E-09"
        ixz="9.99888070866596E-07"
        iyy="2.64401721006749E-05"
        iyz="2.16729924128021E-07"
        izz="1.87426976216884E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/chest_front.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/chest_front.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="chest_front"
    type="revolute">
    <origin
      xyz="0.014 -0.0213 0"
      rpy="0 0 1.5708" />
    <parent
      link="chest_back" />
    <child
      link="chest_front" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="stomach">
    <inertial>
      <origin
        xyz="7.0299070782532E-05 0.0285352137389059 0.00558126575027355"
        rpy="0 0 0" />
      <mass
        value="0.112924078010694" />
      <inertia
        ixx="9.75007282323628E-05"
        ixy="-3.65605977985113E-09"
        ixz="-3.44670067368896E-07"
        iyy="9.65112534040988E-05"
        iyz="-5.46411789173411E-07"
        izz="3.79829527057241E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/stomach.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/stomach.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="stomach"
    type="revolute">
    <origin
      xyz="0.012448 0.0129 -0.052747"
      rpy="-1.6048 0 -1.5708" />
    <parent
      link="chest_front" />
    <child
      link="stomach" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="stomach_low">
    <inertial>
      <origin
        xyz="0.0254569563660852 -0.000510857877455889 -0.0198000125882758"
        rpy="0 0 0" />
      <mass
        value="0.127534330375141" />
      <inertia
        ixx="4.49529966092502E-05"
        ixy="1.08642355161998E-06"
        ixz="-6.33215035239014E-11"
        iyy="3.31939186097434E-05"
        iyz="-1.13476214270004E-11"
        izz="5.31790636315446E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/stomach_low.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/stomach_low.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="stomach_low"
    type="revolute">
    <origin
      xyz="0.019778 0.074981 0.00837"
      rpy="3.1311 -1.5642 0" />
    <parent
      link="stomach" />
    <child
      link="stomach_low" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="stomack_low_back">
    <inertial>
      <origin
        xyz="0.0222119432345553 -0.0139869479098079 -0.00266969548742707"
        rpy="0 0 0" />
      <mass
        value="0.147883656236176" />
      <inertia
        ixx="4.62024278770549E-05"
        ixy="-1.08453094779462E-06"
        ixz="1.4112056920651E-06"
        iyy="5.05330800223277E-05"
        iyz="-6.28394418462524E-10"
        izz="6.84231295614205E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/stomack_low_back.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/stomack_low_back.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="stomack_low_back"
    type="revolute">
    <origin
      xyz="-0.0175 0.014979 -0.0056"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="stomach_low" />
    <child
      link="stomack_low_back" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_left_in">
    <inertial>
      <origin
        xyz="0.00340997910854743 0.0151122704028699 -0.00430658584804021"
        rpy="0 0 0" />
      <mass
        value="0.0712276180867601" />
      <inertia
        ixx="2.06636288238622E-05"
        ixy="2.45340097524647E-08"
        ixz="1.07239188645364E-06"
        iyy="1.62453360146477E-05"
        iyz="2.45843437312046E-07"
        izz="1.37936795476392E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_left_in.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_left_in.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_left_in"
    type="revolute">
    <origin
      xyz="0.10468 0.0029 -0.031"
      rpy="1.5708 0 1.5708" />
    <parent
      link="stomack_low_back" />
    <child
      link="hip_left_in" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_left_high">
    <inertial>
      <origin
        xyz="-3.15252265739377E-05 0.0175683941120762 -0.000417339220702986"
        rpy="0 0 0" />
      <mass
        value="0.066500872640875" />
      <inertia
        ixx="1.50020793459267E-05"
        ixy="1.68665098788903E-09"
        ixz="-1.8251595271123E-08"
        iyy="1.41994296850549E-05"
        iyz="2.06003634027105E-07"
        izz="8.55304512033935E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_left_high.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_left_high.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_left_high"
    type="revolute">
    <origin
      xyz="0.049375 0.0079 -0.048586"
      rpy="1.5708 -0.010452 0" />
    <parent
      link="hip_left_in" />
    <child
      link="hip_left_high" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_left_low">
    <inertial>
      <origin
        xyz="0.019837727529848 -0.017328198423598 -0.0233399921102867"
        rpy="0 0 0" />
      <mass
        value="0.16713334826647" />
      <inertia
        ixx="0.000174073116393626"
        ixy="-1.99748839374358E-06"
        ixz="2.87962059004653E-06"
        iyy="0.000177515959872016"
        iyz="-1.70898916952748E-05"
        izz="8.92127856661843E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_left_low.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.149019607843137 0.149019607843137 0.149019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_left_low.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_left_low"
    type="revolute">
    <origin
      xyz="0.012868 0.0546 0.021607"
      rpy="1.5708 1.5318 0" />
    <parent
      link="hip_left_high" />
    <child
      link="hip_left_low" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="knee_left">
    <inertial>
      <origin
        xyz="0.0019976981643998 0.0138765241497135 -0.0736955858310385"
        rpy="0 0 0" />
      <mass
        value="0.151146730843275" />
      <inertia
        ixx="0.000453908792987779"
        ixy="5.99548866840082E-08"
        ixz="-3.2147389649881E-05"
        iyy="0.000468769077050307"
        iyz="3.90193347656908E-07"
        izz="6.66051667385303E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/knee_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/knee_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_left"
    type="revolute">
    <origin
      xyz="0.030379 -0.053106 -0.1711"
      rpy="0 0 0" />
    <parent
      link="hip_left_low" />
    <child
      link="knee_left" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="foot_left">
    <inertial>
      <origin
        xyz="0.0134410062701474 -0.00400814333351157 0.009008414205786"
        rpy="0 0 0" />
      <mass
        value="0.109810659186526" />
      <inertia
        ixx="9.4502119655576E-05"
        ixy="-5.54719359754024E-08"
        ixz="-2.4220689524648E-06"
        iyy="9.87853140042818E-05"
        iyz="6.50575340167965E-06"
        izz="3.61448369195877E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/foot_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/foot_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="foot_left"
    type="revolute">
    <origin
      xyz="-0.0035755 0 -0.24432"
      rpy="1.5706 0 1.5708" />
    <parent
      link="knee_left" />
    <child
      link="foot_left" />
    <axis
      xyz="1 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_right_in">
    <inertial>
      <origin
        xyz="-0.00336283498073833 0.0151122810309984 -0.00437737997893279"
        rpy="0 0 0" />
      <mass
        value="0.0712276194076986" />
      <inertia
        ixx="2.07084741987094E-05"
        ixy="-2.24939775149632E-08"
        ixz="-1.07258811362283E-06"
        iyy="1.62453330338933E-05"
        iyz="2.45360119089108E-07"
        izz="1.3748831213829E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_right_in.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_right_in.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_right_in"
    type="revolute">
    <origin
      xyz="0.10468 -0.0331 -0.031"
      rpy="1.5708 0 1.5708" />
    <parent
      link="stomack_low_back" />
    <child
      link="hip_right_in" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_right_high">
    <inertial>
      <origin
        xyz="-3.1525223267409E-05 0.0175683941133128 -0.000417339225804057"
        rpy="0 0 0" />
      <mass
        value="0.0665008726568549" />
      <inertia
        ixx="1.50020793523346E-05"
        ixy="1.68664872456181E-09"
        ixz="-1.82515916994853E-08"
        iyy="1.41994296906323E-05"
        iyz="2.06003634248032E-07"
        izz="8.55304511699726E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_right_high.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_right_high.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_right_high"
    type="revolute">
    <origin
      xyz="-0.048617 0.0079 -0.04961"
      rpy="1.5708 -0.010452 0" />
    <parent
      link="hip_right_in" />
    <child
      link="hip_right_high" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="hip_right_low">
    <inertial>
      <origin
        xyz="0.0101620447073382 -0.0214689378129789 0.00227560266133368"
        rpy="0 0 0" />
      <mass
        value="0.167468511096326" />
      <inertia
        ixx="0.00018658464029903"
        ixy="-7.95934718285308E-06"
        ixz="-1.39940758861752E-08"
        iyy="9.36139419963114E-05"
        iyz="2.16134469544864E-05"
        izz="0.000189725706425111" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_right_low.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/hip_right_low.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_right_low"
    type="revolute">
    <origin
      xyz="0.00036231 0.0546 -0.0092832"
      rpy="0 -1.5318 -3.1416" />
    <parent
      link="hip_right_high" />
    <child
      link="hip_right_low" />
    <axis
      xyz="0 0 1" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="knee_right">
    <inertial>
      <origin
        xyz="-0.00293900807816572 -0.0608574591676004 0.0246452716012239"
        rpy="0 0 0" />
      <mass
        value="0.151146730924696" />
      <inertia
        ixx="0.000454809120260633"
        ixy="2.61518930438168E-05"
        ixz="-6.06037244948496E-08"
        iyy="6.57048399918325E-05"
        iyz="-4.15489117653699E-08"
        izz="0.000468769077394886" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/knee_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/knee_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_right"
    type="revolute">
    <origin
      xyz="0 -0.1839 0"
      rpy="0 0 0.015442" />
    <parent
      link="hip_right_low" />
    <child
      link="knee_right" />
    <axis
      xyz="0 0 1" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  <link
    name="foot_right">
    <inertial>
      <origin
        xyz="0.00905838610117235 0.0135062338630004 -0.0166639175657166"
        rpy="0 0 0" />
      <mass
        value="0.109792588884947" />
      <inertia
        ixx="3.59600900627302E-05"
        ixy="2.42209249081913E-06"
        ixz="5.53277477596119E-06"
        iyy="9.45216808174187E-05"
        iyz="9.14514292277231E-08"
        izz="9.89846701379889E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/foot_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.309803921568627 0.309803921568627 0.309803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FullAssemFIN15/meshes/foot_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="foot_right"
    type="revolute">
    <origin
      xyz="0 -0.21875 0.011588"
      rpy="1.5708 0 3.1416" />
    <parent
      link="knee_right" />
    <child
      link="foot_right" />
    <axis
      xyz="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
</robot>
